In [17]:
import pandas as pd
# load excel file

In [19]:
df_path = r"C:\Users\yotam\SDatta\badim\raw_data.csv"
df = pd.read_csv(df_path)

C:\Users\yotam\AppData\Local\Temp\ipykernel_11028\1941620221.py:2: DtypeWarning: Columns (4,9,10,12,16,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(df_path)

In [20]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)
df.head()

,#,מספר מסמך,קוד לקוח/ספק,קוד פנימי של מסמך,קוד פריט,תיאור הפריט/שירות,כמות,תאריך אספקה לשורה,כמות שנותרה פתוחה,מחיר לאחר הנחה,% הנחה לשורה,סך הכול בשורה,"מק""ט יצרן",מספר סידורי,קוד מחסן,קוד איש מכירות,מחיר יחידה,תאריך אסמכתא,כמות לזיכוי,"מק""ט לקוח/ספק",קוד כרטיס בסיס,יחידת מידה של מלאי,מצב מלאי,מחיר ברוטו לאחר הנחה,כמות אריזות,סוג משלוח,מדינה/אזור מקור לייצוא,מדינה/אזור יעד לייבוא,Unnamed: 28
0,1,300000,2050010,1,10900001.0,עור,20,NaN,20,14,0.0,280,NaN,NaN,1.0,5,14,1/1/2019,20,NaN,2050010,N,O,16.38,20,1,NaN,NaN,Y
1,2,300001,2401003,2,10900001.0,עור עזים מטלי,829.75,NaN,829.75,14,0.0,"11,616.50",NaN,NaN,1.0,1,14,1/1/2019,829.75,NaN,2401003,N,O,16.38,830,1,NaN,NaN,Y
2,3,300001,2401003,2,10900001.0,עור שפלט כחול,15,NaN,15,9,0.0,135,NaN,NaN,1.0,1,9,1/1/2019,15,NaN,2401003,N,O,10.53,15,1,NaN,NaN,Y
3,4,300001,2401003,2,40900001.0,בטנה,5,NaN,5,17.5,0.0,87.5,NaN,NaN,1.0,1,17.5,1/1/2019,5,NaN,2401003,N,O,20.48,5,1,NaN,NaN,Y
4,5,300002,2141703,3,10900001.0,עור עיזים שרומף עננים,5,NaN,5,13,0.0,65,NaN,NaN,1.0,4,13,1/1/2019,5,NaN,2141703,N,O,15.21,5,1,NaN,NaN,Y

In [21]:
df["תאריך אסמכתא"].iloc[2]

'1/1/2019'

In [22]:
df["תאריך אסמכתא"].iloc[140]

'13/01/19'

In [37]:
def format_date(date_str):
    if not pd.isna(date_str):
        day, month, year = date_str.split('/')
        day = day.zfill(2)
        month = month.zfill(2)
        if len(year) == 2:
            year = '20' + year
        elif len(year) == 3:
            year = '2' + year
        return f'{day}/{month}/{year}'
    else:
        return date_str

In [27]:
format_date(df['תאריך אסמכתא'].iloc[2])

'01/01/2019'

In [28]:
format_date(df['תאריך אסמכתא'].iloc[140])

'13/01/2019'

In [29]:
df['תאריך אסמכתא'] = df['תאריך אסמכתא'].apply(format_date)

In [51]:
df[df['תאריך אסמכתא'].isnull()]

Empty DataFrame
Columns: [#, מספר מסמך, קוד לקוח/ספק, קוד פנימי של מסמך, קוד פריט, תיאור הפריט/שירות, כמות, תאריך אספקה לשורה, כמות שנותרה פתוחה, מחיר לאחר הנחה, % הנחה לשורה, סך הכול בשורה, מק"ט יצרן, מספר סידורי, קוד מחסן, קוד איש מכירות, מחיר יחידה, תאריך אסמכתא, כמות לזיכוי, מק"ט לקוח/ספק, קוד כרטיס בסיס, יחידת מידה של מלאי, מצב מלאי, מחיר ברוטו לאחר הנחה, כמות אריזות, סוג משלוח, מדינה/אזור מקור לייצוא, מדינה/אזור יעד לייבוא, Unnamed: 28]
Index: []

In [63]:
def safe_convert_dates(date_series, date_format):
    # Attempt to convert dates
    try:
        converted_dates = pd.to_datetime(date_series, format=date_format, errors='coerce')
        # Now using dashes instead of slashes
        return converted_dates.dt.strftime('%d-%m-%Y')
    except ValueError as e:
        print(f"Date conversion failed: {e}")
        return pd.Series([None] * len(date_series))

# Apply the function to the DataFrame
df['formatted_date'] = safe_convert_dates(df['תאריך אסמכתא'], '%d-%m-%Y')

In [64]:
df['formatted_date']

0         01-01-2019
1         01-01-2019
2         01-01-2019
3         01-01-2019
4         01-01-2019
             ...
166215    12-03-2024
166216    31-03-2024
166217    31-03-2024
166218    31-03-2024
166219    31-03-2024
Name: formatted_date, Length: 166220, dtype: object

In [34]:
df["תאריך אספקה לשורה"]

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
            ...
166215     13/03/24
166216    10/3/2024
166217    10/3/2024
166218    12/3/2024
166219    12/3/2024
Name: תאריך אספקה לשורה, Length: 166220, dtype: object

In [33]:
df[~df["תאריך אספקה לשורה"].isnull()]

,#,מספר מסמך,קוד לקוח/ספק,קוד פנימי של מסמך,קוד פריט,תיאור הפריט/שירות,כמות,תאריך אספקה לשורה,כמות שנותרה פתוחה,מחיר לאחר הנחה,% הנחה לשורה,סך הכול בשורה,"מק""ט יצרן",מספר סידורי,קוד מחסן,קוד איש מכירות,מחיר יחידה,תאריך אסמכתא,כמות לזיכוי,"מק""ט לקוח/ספק",קוד כרטיס בסיס,יחידת מידה של מלאי,מצב מלאי,מחיר ברוטו לאחר הנחה,כמות אריזות,סוג משלוח,מדינה/אזור מקור לייצוא,מדינה/אזור יעד לייבוא,Unnamed: 28
11,12,300005,2010059,6,10900001.0,עור,35,2/1/2019,35,10,0.0,350,NaN,NaN,1.0,5,10,02/01/2019,35,NaN,2010059,N,O,11.7,35,1,NaN,NaN,Y
13,14,300007,2040006,8,10900001.0,עור חזיר שחור,688,2/1/2019,688,4.9,0.0,"3,371.20",NaN,NaN,1.0,3,4.9,02/01/2019,688,NaN,2040006,N,O,5.73,688,1,NaN,NaN,Y
14,15,300007,2040006,8,10900001.0,עור חזיר קאמל,156,2/1/2019,156,4.9,0.0,764.4,NaN,NaN,1.0,3,4.9,02/01/2019,156,NaN,2040006,N,O,5.73,156,1,NaN,NaN,Y
15,16,300007,2040006,8,10900001.0,עור עיזים פרלטו P16,6.25,2/1/2019,6.25,10,0.0,62.5,NaN,NaN,1.0,3,10,02/01/2019,6.25,NaN,2040006,N,O,11.7,7,1,NaN,NaN,Y
16,17,300008,2142102,9,30900001.0,דמוי עור לק כחול,10,2/1/2019,10,70,0.0,700,NaN,NaN,1.0,3,70,02/01/2019,10,NaN,2142102,N,O,81.9,10,1,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166215,166216,339389,2050744,40696,200753167.0,בד אדל מס 3167 טאופ,11.4,13/03/24,11.4,69.0,0.0,786.6,NaN,NaN,1.0,-1,69.0,12/03/2024,11.4,NaN,2050744,N,O,80.73,12,19,NaN,NaN,Y
166216,166217,339389,2050744,40696,20026002.0,בד גארפילד מס' 2 לבן,16.7,10/3/2024,16.7,69.0,0.0,"1,152.30",NaN,NaN,1.0,-1,69.0,31/03/2024,16.7,NaN,2050744,N,O,80.73,17,10,NaN,NaN,Y
166217,166218,339389,2050744,40696,20035300.0,בד יוקומה מס' 300,1.8,10/3/2024,1.8,85.0,0.0,153,42331520,NaN,1.0,-1,85.0,31/03/2024,1.8,NaN,2050744,N,O,99.45,2,10,NaN,NaN,Y
166218,166219,339389,2050744,40696,20026002.0,בד גארפילד מס' 2 לבן,16.7,12/3/2024,16.7,69.0,0.0,"1,152.30",NaN,NaN,1.0,-1,69.0,31/03/2024,16.7,NaN,2050744,N,O,80.73,17,10,NaN,NaN,Y
166219,166220,339389,2050744,40696,20035300.0,בד יוקומה מס' 300,1.8,12/3/2024,1.8,85.0,0.0,153,42331520,NaN,1.0,-1,85.0,31/03/2024,1.8,NaN,2050744,N,O,99.45,2,10,NaN,NaN,Y

In [38]:
df["תאריך אספקה לשורה"] = df["תאריך אספקה לשורה"].apply(format_date)

In [39]:
pd.to_datetime(df["תאריך אספקה לשורה"],format='%d/%m/%Y')

0               NaT
1               NaT
2               NaT
3               NaT
4               NaT
            ...
166215   2024-03-13
166216   2024-03-10
166217   2024-03-10
166218   2024-03-12
166219   2024-03-12
Name: תאריך אספקה לשורה, Length: 166220, dtype: datetime64[ns]